<br><br>
Username:<input type="text" placeholder="enter the username" [(ngModel)]="username"><br>
password:<input type="password" placeholder="enter the password" [(ngModel)]="password"><br>
<br>
<button (click)="login()">login</button>
<br><br>
<br><br>
<div class="demo-account">
    <h3>Demo Account of Student</h3>
    <strong>Username:</strong> student <br>
    <strong>Password:</strong> 123
</div>

<br><br>

<div class="demo-account">
    <h3>Demo Account of Trainer</h3>
    <strong>Username:</strong> trainer <br>
    <strong>Password:</strong> 1234
</div>